In [1]:
import pandas as pd

Adding data using insert method

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print("-" * 30)
#adding new column with assign method
df = df.assign(Gender=['Female', 'Male', 'Male', 'Male'])
print("Adding new column with assign method:")
print(df)

Adding Data using insert method

In [10]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print("-" * 30)
#adding new column with insert method
gender_data = ['Female', 'Male', 'Male', 'Female']
df.insert(loc=1, column='Gender', value=gender_data)
print("Adding new column with insert method:")
print(df)

Original DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3    David   40     Tokyo
------------------------------
Adding new column with insert method:
      Name  Gender  Age      City
0    Alice  Female   25  New York
1      Bob    Male   30    London
2  Charlie    Male   35     Paris
3    David  Female   40     Tokyo

In [ ]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'Name': ['Ali', 'Sara', 'John'],
    'Age': [25, 30, 22]
})

print("Original DataFrame:")
print(df)

# ðŸ§  PRACTICE QUESTIONS FOR assign():
# Q1: Use assign() to add a column 'Score' with values [88, 92, 95].
df_Score = df.assign(Score = [88,92,95])
# Q2: Use assign() to add a column 'Passed' with boolean values based on 'Age' > 24.
df_Passed = df.assign(Passed = df['Age'] > 24)
# Q3: Use assign() to add a column 'Email' with values like ['ali@mail.com', 'sara@mail.com', 'john@mail.com'].
df_Email = df.assign(Email = ['ali@mail.com', 'sara@mail.com', 'john@mail.com'])

# ðŸ§  PRACTICE QUESTIONS FOR insert():
# Q1: Insert a column 'Email' at position 2 with values ['a@a.com', 'b@b.com', 'c@c.com'].
df.insert(2,'Email',['a@a.com', 'b@b.com', 'c@c.com'])

# Q2: Insert a column 'Graduated' at the end with [True, True, False].
df.insert(len(df),'Graduated',[True, True, False])
# Q3: Insert a column 'Experience' at position 3 with values [2, 4, 1].
df.insert(3,"Experience",[2, 4, 1])
df

Original DataFrame:
   Name  Age
0   Ali   25
1  Sara   30
2  John   22
   Name  Age  Passed
0   Ali   25    True
1  Sara   30    True
2  John   22   False

   Name  Age    Email  Experience  Graduated
0   Ali   25  a@a.com           2       True
1  Sara   30  b@b.com           4       True
2  John   22  c@c.com           1      False