In [1]:
import pandas as pd
import numpy as np

OPTION 1

In [9]:
data = np.array([[1,4],[2,5],[3,6]])

In [10]:
#Creating a dataFrame
df = pd.DataFrame(data,index = ["Row1","Row2","Row3"],columns = ["Column1","Column2"])
print(df)

      Column1  Column2
Row1        1        4
Row2        2        5
Row3        3        6

Option 2

In [2]:
#creating an array with list shape
data = [[1,2],[3,4],[5,6]]

In [6]:
#creating dataFrame of from the data
df = pd.DataFrame(data,index = ["Row1","Row2","Row3"],columns = ["Column1","Column2"])

In [7]:
print(df)

      Column1  Column2
Row1        1        2
Row2        3        4
Row3        5        6

In [ ]:
Data = [[1, 'Alice', 25], [2, 'Bob', 30], [3, 'Charlie', 35]]
df = pd.DataFrame(Data,columns=['id','Name','Age'])
print(df)

   id     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35

Creating a data frame from a dictionary

In [ ]:
Data = {
    "Name":['Hassan', 'Ayesha', 'Bilal'],
    "Marks" : [85, 90, 78],
    "Subject": ['Math', 'Physics', 'Chemistry']
}
df = pd.DataFrame(Data,index = ["Student1","Student2","Student3"])
print(df)

            Name  Marks    Subject
Student1  Hassan     85       Math
Student2  Ayesha     90    Physics
Student3   Bilal     78  Chemistry

In [14]:
Data = {
    "Title": ['1984', 'To Kill a Mockingbird', 'The Great Gatsby'],

    "Author": ['George Orwell', 'Harper Lee', 'F. Scott Fitzgerald'],

    "Year Published": [1949, 1960, 1925]
}
df = pd.DataFrame(Data)
print(df)

                   Title               Author  Year Published
0                   1984        George Orwell            1949
1  To Kill a Mockingbird           Harper Lee            1960
2       The Great Gatsby  F. Scott Fitzgerald            1925

Reading CSV file

In [15]:
df_Performance = pd.read_csv("./StudentsPerformance.csv")
df_Performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75