In [1]:
import pandas as pd

Adding data using insert method

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print("-" * 30)
#adding new column with assign method
df = df.assign(Gender=['Female', 'Male', 'Male', 'Male'])
print("Adding new column with assign method:")
print(df)

Adding Data using insert method

In [10]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print("-" * 30)
#adding new column with insert method
gender_data = ['Female', 'Male', 'Male', 'Female']
df.insert(loc=1, column='Gender', value=gender_data)
print("Adding new column with insert method:")
print(df)

Original DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3    David   40     Tokyo
------------------------------
Adding new column with insert method:
      Name  Gender  Age      City
0    Alice  Female   25  New York
1      Bob    Male   30    London
2  Charlie    Male   35     Paris
3    David  Female   40     Tokyo