In [1]:
import pandas as pd

In [2]:
df_exams = pd.read_csv('./StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
#it returns the column as a series
df_exams['gender']

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object

In [8]:
import pandas as pd

# Create the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 30, 22, 35, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami'],
    'Occupation': ['Engineer', 'Artist', 'Student', 'Doctor', 'Designer']
}
df = pd.DataFrame(data)

print("Here's your DataFrame:")
print(df)
print("\n")

# Practice Questions:
print("Practice Question 1:")
print("Select the 'City' column from the DataFrame.")
print(df['City'])
print("\nPractice Question 2:")
print("Select the 'Occupation' column from the DataFrame.")
print(df['Occupation'])
print("\nPractice Question 3:")
print("Select the 'Age' column from the DataFrame.")
print(df['Age'])

Here's your DataFrame:
      Name  Age         City Occupation
0    Alice   24     New York   Engineer
1      Bob   30  Los Angeles     Artist
2  Charlie   22      Chicago    Student
3    David   35      Houston     Doctor
4      Eve   28        Miami   Designer


Practice Question 1:
Select the 'City' column from the DataFrame.
0       New York
1    Los Angeles
2        Chicago
3        Houston
4          Miami
Name: City, dtype: object

Practice Question 2:
Select the 'Occupation' column from the DataFrame.
0    Engineer
1      Artist
2     Student
3      Doctor
4    Designer
Name: Occupation, dtype: object

Practice Question 3:
Select the 'Age' column from the DataFrame.
0    24
1    30
2    22
3    35
4    28
Name: Age, dtype: int64